.buton {
  font-size: 0.8rem;
  font-weight: bold;
}

.center-text {
  text-align: center;
}

.heading {
  margin-bottom: 3rem;
  margin-top: 5rem;
}

.input {
  font-size: 1rem;
  height: 3rem;
}

.subtitle {
  margin-top: -2rem;
}
