#ayuda {
  font-size: .8rem;
  margin-bottom: 1.5rem;
  margin-top: -20px;
  text-align: center;
}

#buscar {
  font-size: 0.8rem;
  font-weight: bold;
}

#mensaje {
  color: red;
  text-align: center;
}

#palabra {
  font-size: 1rem;
  height: 3rem;
  text-align: center;
}

.center-text {
  text-align: center;
}

.heading {
  margin-bottom: 1rem;
  margin-top: 5rem;
}

.subtitle {
  margin-top: -2rem;
}
